<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="image"><br>
    <input type="submit">
  </form>
  <h2>{{ message }}</h2>
{% if item_list %}
  {% for item in item_list %}
    <h2>{{ item.itemName }}</h2>
    <img src="{{ item.mediumImageUrls[0]['imageUrl'] }}">
    <p>説明：{{ item.itemCaption }}</p>
    <p>価格：{{ item.itemPrice }}円</p>
    <p>詳細：<a href="{{ item.itemUrl }}" target="_blank">{{ item.itemUrl }}</a></p>
  {% endfor %}
{% endif %}
</body>
</html>